a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
td,
th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
.blue-dark:after,
.dark:after {
  content: "";
  display: block;
  right: 0;
  top: 0;
  z-index: 1;
  left: 0;
  bottom: 0;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
* {
  outline: 0 !important;
}
body {
  background: #f2f2f2;
}
.col-lg-3.col-md-3.col-sm-4.hidden-xs {
  margin: 0;
  padding-top: 0;
}

.leff_main_box .logo_box {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.leff_main_box .logo_box a {
  display: inline-block;
}
.leff_main_box {
  width: 100%;
  position: relative;
  height: 100vh;
  padding: 15px 15px 15px 15px;
  background: #fff;
}
.leff_main_box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.leff_main_box ul li {
  text-align: left;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px dotted #f2f2f2;
}
.leff_main_box ul li a {
  display: block;
  padding: 5px;
  color: #444;
}
.leff_main_box ul li a i {
  float: left;
  font-size: 15px;
  width: 30px;
}
.leff_main_box ul li a span {
  float: left;
}
.leff_main_box ul li a:hover {
  color: #f05c26;
}
.top_barRight {
  background: #fff;
  padding: 10px;
}
.top_barRight .MyAccount {
  float: right;
}
.top_barRight .MyAccount .dropdown {
  width: 100%;
}
.top_barRight .MyAccount .dropdown a {
  display: block;
}
.top_barRight .MyAccount .dropdown a img {
  width: 30px;
  height: 27px;
  border-radius: 100%;
  border: 1px solid #f2f2f2;
  float: left;
}
.top_barRight .MyAccount .dropdown a span {
  float: left;
  font-size: 14px;
  color: #444;
  margin: 5px;
}
.top_barRight .MyAccount .dropdown a i {
  float: left;
  font-size: 15px;
  color: #444;
  margin: 5px 4px;
}
.top_barRight .MyAccount .dropdown .dropdown-menu {
  right: 0;
  position: absolute;
  top: 35px;
  left: inherit;
  background: #fff;
}
.top_barRight .MyAccount .dropdown .dropdown-menu li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #f2f2f2;
}
.top_barRight .MyAccount .dropdown .dropdown-menu li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
.top_barRight .MyAccount .dropdown .dropdown-menu li a {
  display: block;
  padding: 0px 5px;
}
.top_barRight .MyAccount .dropdown .dropdown-menu li a i {
  float: left;
  margin: 8px 2px 0 5px;
  width: 15px;
}
.top_barRight .MyAccount .dropdown .dropdown-menu li a span {
  float: left;
}
.top_barRight .MyAccount.notification .dropdown a {
  position: relative;
}
.top_barRight .MyAccount.notification {
  margin-right: 50px;
}
.top_barRight .MyAccount.notification .dropdown a span {
  position: absolute;
  top: -8px;
  height: 20px;
  width: 20px;
  background: #006fb5;
  color: #fff;
  text-align: center;
  padding: 4px 0px 0px 0px;
  border-radius: 100%;
  font-size: 10px;
  margin: 0;
  right: -8px;
}
.top_barRight .MyAccount.notification .dropdown-menu li a {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
}
.top_barRight .MyAccount.notification .dropdown-menu li:last-child a {
  text-decoration: underline;
}
.right_data_main {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}
.right_data_main .breadcrumb {
  color: #444;
}
.right_data_main .breadcrumb a {
  color: #444;
  font-size: 14px;
}
.right_data_main .breadcrumb li.active {
  font-size: 14px;
}
.mid-width .multiselect-container {
  width: 200px;
}
.mid-width.wrapItems .multiselect-container > li > a {
  white-space: normal;
}
.right_data_main .filter_main .mid-width.wrapItems {
  width: 100%;
}
.right_data_main .filter_main .mid-width.wrapItems select {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #f2f2f2;
}
.right_data_main .filter_main .col-lg-1 span {
  display: block;
  margin: 10px 0 0 0;
}
.right_data_main .filter_main .col-lg-3 {
  margin: 0;
  border: 0;
  padding: 15px;
}
.right_data_main .filter_main .col-lg-3 .priceRange select:nth-of-type(2) {
  float: right;
}
.right_data_main .filter_main span.heading {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  float: none;
  margin: 0 0 10px 0;
}
.right_data_main .filter_main .col-lg-3 .priceRange select {
  float: left;
  padding: 5px 15px 5px 5px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  width: 100%;
}
.right_data_main .filter_main .col-lg-3 .priceRange span {
  float: left;
  margin: 5px;
}
.right_data_main .filter_main .col-lg-3 .priceRange span.heading {
  float: none;
  margin: 0 0 10px 0;
}
.right_data_main .filter_main .FuelType select {
  width: 100%;
  padding: 5px 15px 5px 5px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
}
.right_data_main .filter_main .col-lg-2 {
  padding: 15px;
  margin: 0;
}
.right_data_main h1 {
  font-weight: 600;
  font-size: 16px;
  padding: 0px 0 20px 0;
  color: #006fb5;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.right_data_main h1 span {
  font-weight: normal;
  float: right;
  color: #006fb5;
  text-transform: capitalize;
  font-size: 14px;
}
.right_data_main h1 span a i {
  margin-right: 5px;
  color: #006fb5;
}
.sml_dLogo {
  display: none;
}

.smlDevice {
  display: none;
}
.right_data_main #parentHorizontalTab .resp-tabs-list .resp-tab-item {
  padding: 12px;
  font-size: 14px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tabs-list
  .resp-tab-item.resp-tab-active {
  background: #006fb5 !important;
  color: #fff !important;
}
.right_data_main #parentHorizontalTab .resp-tabs-list .resp-tab-item span {
  display: inline-block;
  margin-left: 8px;
}
.right_data_main #parentHorizontalTab .resp-tabs-list {
  margin-top: 25px;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box {
  width: 100%;
  box-shadow: 0px 1px 2px #ccc;
  overflow: hidden;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box .imag {
  position: relative;
  overflow: hidden;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box .imag img {
  width: 100%;
  display: block;
  -moz-transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box:hover
  .imag
  img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 2s ease;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing {
  position: absolute;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 3px;
  color: #fff;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  font-size: 13px;
  z-index: 1;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box h3 {
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .heartIcon {
  left: 5px;
  position: absolute;
  top: 5px;
  z-index: 1;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .heartIcon
  a {
  font-size: 20px;
  text-shadow: 0px 2px 2px #000;
  color: #fff;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box h2 a {
  color: #006fb5;
  font-weight: 600;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box ul {
  margin: 0;
  padding: 0 5px 0 5px;
  list-style: none;
  font-size: 14px;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box ul li {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  width: 48%;
  float: left;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li:nth-of-type(2n + 2) {
  float: left;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li:nth-of-type(3n + 3) {
  float: left;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box ul li i {
  float: left;
  margin-right: 5px;
  width: 17px;
  text-align: center;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li
  i
  img {
  width: 11px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li:nth-of-type(3n + 3)
  span {
  width: 78%;
  display: inline-block;
  word-wrap: break-word;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li:nth-of-type
  span.smlData {
  width: 120px;
  display: inline-block;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li
  span {
  display: inline-block;
  width: 78%;
  word-wrap: break-word;
  text-transform: capitalize;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li:nth-of-type(1) {
  width: 100%;
  float: none;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li
  .name {
  width: 70px;
  float: left;
  padding: 5px 0;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li
  .Coll {
  width: auto;
  float: left;
  padding: 5px 0;
}

.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  ul
  li
  .NameData {
  width: 200px;
  float: left;
  padding: 5px 5px;
}

.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .heartIcon
  a:hover {
  text-decoration: none;
  color: red;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing
  time {
  font-size: 14px;
  width: 190px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing
  span {
  font-weight: 600;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing
  time
  span {
  font-weight: 400;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing
  time
  i {
  margin-right: 5px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .imag
  .timing
  time {
  font-size: 12px;
  width: auto;
  display: block;
}

.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  h3
  .bidHeading {
  float: left;
  display: inline-block;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box h3 .bidBy {
  float: left;
  width: 66%;
  margin-left: 5px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  h3
  .bidBy
  i {
  float: left;
  margin-right: 3px;
}

.resp-tabs-container .col-lg-4 {
  margin-bottom: 30px;
}
.right_data_main #parentHorizontalTab .resp-tab-content .auction_box .reason {
  padding: 5px;
  font-size: 14px;
  line-height: 19px;
}
.right_data_main
  #parentHorizontalTab
  .resp-tab-content
  .auction_box
  .reason
  span {
  font-weight: 600;
}
footer {
  background: #444;
  clear: both;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
footer ul li {
  display: inline-block;
  margin: 0 0 15px 0;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #006fb5;
}
.right_data_main .shortBy {
  text-align: right;
  font-size: 14px;
}
.right_data_main .shortBy span {
  display: inline-block;
  padding: 10px;
}
.right_data_main .shortBy select {
  padding: 5px;
  border: 1px solid #f2f2f2;
  padding-right: 15px;
}
.right_data_main .filter_main {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.right_data_main .filter_main .wrapMulDrop {
  width: 100%;
  display: inline-block;
  position: relative;
}
.right_data_main .filter_main .multiDrop {
  width: 100%;
  padding: 9px 14px 9px 9px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  color: #333;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}
.right_data_main .filter_main .multiDrop i.fa-angle-down {
  position: absolute;
  right: 5px;
}
.right_data_main .filter_main .multiDrop:focus {
  outline: none;
}
.right_data_main .filter_main .wrapMulDrop ul {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  border: 1px solid #b2b2b2;
  right: 0;
  z-index: 5;
  display: none;
}
.right_data_main .filter_main .wrapMulDrop ul li {
  list-style-type: none;
  background-color: #fff;
  float: left;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
.right_data_main .filter_main .wrapMulDrop ul li input[type="checkbox"] {
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  left: 5px;
  top: 7px;
}
.right_data_main .filter_main .wrapMulDrop ul li:hover {
  background-color: #3399ff;
  color: #fff;
}
.right_data_main .filter_main .wrapMulDrop ul li label {
  width: 98%;
  cursor: pointer;
  margin: 0;
  color: #333;
  float: right;
  display: inline-block;
  padding: 6px 0px;
  font-size: 14px;
  word-wrap: break-word;
}
.right_data_main .filter_main .wrapMulDrop ul li:hover label {
  color: #fff;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  text-indent: 0.1;
  text-overflow: "";
  cursor: pointer;
  position: relative;
  height: 34px;
  text-transform: capitalize;
}

.right_data_main .filter_main .col-lg-3 .priceRange .min_price {
  margin: 0;
  width: 48%;
  float: left;
  position: relative;
}
.right_data_main .filter_main .col-lg-3 .priceRange .max-price {
  margin: 0;
  width: 48%;
  position: relative;
  float: right;
}

.right_data_main .filter_main .col-lg-3 .priceRange .min_price i.fa-angle-down {
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 1;
}

.right_data_main .filter_main .col-lg-3 .priceRange .max-price i.fa-angle-down {
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 1;
}
.right_data_main .filter_main .FuelType .fueltp {
  position: relative;
  display: block;
}

.right_data_main .filter_main .FuelType .fueltp i.fa-angle-down {
  position: absolute;
  right: 6px;
  top: 10px;
  z-index: 1;
}
.right_data_main .shortBy span.shortD {
  display: inline-block;
  padding: 0;
  position: relative;
}
.right_data_main .shortBy span.shortD i.fa-angle-down {
  position: absolute;
  right: 6px;
  top: 10px;
  z-index: 1;
}

/* form */

/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: static;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #006fb5;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: white;
}

/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #fff;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
  background: #c5c5f1;
  text-decoration: none;
}

/* Form */
/*form styles*/
#msform {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  position: static;
}
.right_data_main.addnew_vehicle {
  min-height: auto;
}
#msform fieldset h4 {
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#msform fieldset .names span {
  color: red;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #006fb5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #006fb5;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  counter-reset: step;
  text-align: center;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 25px;
  float: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 25px;
}
#progressbar li::before {
  content: counter(step);
  counter-increment: step;
  display: block;
  color: #333;
  margin: 0 auto 5px auto;
  background: #ccc;
  height: 25px;
  width: 25px;
  font-size: 14px;
  line-height: 25px;
  border-radius: 100%;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active::before,
#progressbar li.active::after {
  background: #006fb5;
  color: white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  font-size: 14px;
  line-height: 24px;
}
#msform fieldset ul.stepone li:nth-of-type(1) {
  width: 100%;
}
#msform fieldset .names {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
#msform fieldset ul.stepone li:nth-of-type(1) input {
  width: 100%;
  height: inherit;
  line-height: inherit;
  padding: 5px;
}
#msform fieldset ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
}
#msform fieldset ul li input {
  padding: 10px;
  font-weight: normal;
  font-family: inherit;
  height: 45px;
  margin: 0;
  line-height: 40px;
}
#msform fieldset ul.stepone li {
  float: right;
  width: 49%;
  position: relative;
}
#msform fieldset ul.stepthree li {
  float: left;
  width: 49%;
  position: relative;
}
#msform fieldset ul.stepone li i.fa-angle-down {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 35px;
}
#msform fieldset ul.stepone li:nth-of-type(2n + 2) {
  float: left;
}
#msform fieldset ul.stepthree li:nth-of-type(2n + 2) {
  float: right;
}
#msform fieldset ul.stepone li select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 45px;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 20px;
  text-transform: capitalize;
}
#msform fieldset ul.steptwo li select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 45px;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 20px;
}
#msform fieldset ul.steptwo li i.fa-angle-down {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 34px;
}

#msform fieldset ul.stepthree li select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 45px;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 20px;
}
#msform fieldset ul.stepthree li i.fa-angle-down {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 34px;
}

/* Form */

.right_data_main .filter_main .col-lg-6 input {
  width: 100px;
  background: #006fb5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px;
  float: left;
  text-transform: capitalize;
  font-size: 13px;
}
.right_data_main .filter_main .col-lg-6 input:hover,
.right_data_main .filter_main .col-lg-6 input:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #006fb5;
}

#msform fieldset ul.stepthree li.TreadWorn i.fa-angle-down {
  top: 47px;
}
#msform fieldset ul.stepthree li.ExhaustPipe i.fa-angle-down {
  top: 47px;
}
#msform fieldset ul.stepthree li.LacksHeavy i.fa-angle-down {
  top: 47px;
}
#msform fieldset ul.stepthree li.Transmission i.fa-angle-down {
  top: 47px;
}

#msform fieldset ul.stepthree li.VehicleSteers i.fa-angle-down {
  top: 47px;
}

#msform fieldset ul.stepone li ul {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
#msform fieldset ul.stepone li ul li {
  position: relative;
  margin: 0 10px 10px 0;
  float: left;
  width: auto !important;
}
#msform fieldset ul.stepone li ul li a.fa-close {
  position: absolute;
  right: -3px;
  top: -3px;
  background: #000;
  color: #fff;
  font-size: 11px;
  padding: 1px 0 0 0;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  text-align: center;
}
#msform fieldset ul.stepone li ul li img {
  width: 100px;
  height: 70px;
  border: 1px solid #ccc;
}
#image-gallery .lslide span {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  display: block;
  padding: 5px 5px 5px 5px;
}
#image-gallery .lslide span a.fa-arrows-alt {
  float: right;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
#image-gallery .lslide span a.fa-arrows-alt:hover {
  text-decoration: none;
}
#image-gallery .lslide {
  position: relative;
  border: 1px solid #f2f2f2;
}
#image-gallery .lslide span .totalImageCount {
  float: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
}
#image-gallery .lslide span .totalImageCount i.fa-camera {
  float: left;
}
#image-gallery .lslide span .totalImageCount span {
  float: left;
  display: inline-block;
  position: static;
  font-size: 13px;
  width: auto;
  margin: 0;
  padding: 0 0 0px 5px;
}
#accordion {
  width: 100%;
  margin: 0;
  border: 0;
}

#accordion .content {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  color: black;
  height: auto;
  box-shadow: 0px 2px 2px #ccc;
  margin: -4px 0 0 0;
  font-size: 14px;
}

#accordion h3.active {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

#accordion div strong,
b {
  font-weight: 600;
}
#accordion div i {
  font-style: italic;
}
#accordion div a {
  display: inline-block;
}
#accordion h3:nth-of-type(1) {
  margin-top: 0;
}

#accordion h3 {
  border-top: 1px solid #ccc;
  clear: both;
  margin: 5px 0 5px 0;
  display: block;
  padding: 8px;
  box-shadow: 0px 1px 2px #ccc;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}
#accordion h3::after {
  content: "\f0dd";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 17px;
  line-height: 10px;
}

#accordion h3.active::after {
  content: "\f0de";
  top: 13px;
}
.right_data_main.addnew_vehicle .Sml_detailsMain {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0 5px 0;
  background: #f2f2f2;
}
.right_data_main.addnew_vehicle .Sml_detailsMain ul li i img {
  width: 14px;
}
.right_data_main.addnew_vehicle .Sml_detailsMain ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right_data_main.addnew_vehicle .Sml_detailsMain ul li {
  float: left;
  text-align: center;
  width: 25%;
  font-size: 14px;
}
.right_data_main.addnew_vehicle .Sml_detailsMain ul li i {
  font-size: 17px;
  display: inline-block;
  height: 20px;
}
.right_data_main.addnew_vehicle .Sml_detailsMain ul li .comp {
  font-weight: 600;
  margin: 0 0 5px 0;
}

.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain {
  border: 2px solid #f5f5f5;
}
.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .AddedBy {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .AddedBy span {
  display: block;
  font-weight: 600;
  color: #006fb5;
  margin-bottom: 5px;
}
.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .AddedBy .user_icon {
  float: left;
  width: 50px;
  text-align: left;
}
.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .AddedBy .user_icon i {
  font-size: 30px;
  color: #ccc;
  border: 1px solid #ccc;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  padding-top: 3px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName {
  float: left;
  width: 220px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_icon
  i.fa-calendar {
  font-size: 24px;
  padding-top: 6px;
}
.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .auctionDetails_Price {
  background: #ff7700;
  padding: 15px 20px;
  font-size: 25px;
  position: relative;
  color: #fff;
  font-weight: 600;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .auctionDetails_Price::before {
  content: "\f0d9";
  font-family: FontAwesome;
  position: absolute;
  left: -32px;
  top: 23px;
  font-size: 95px;
  line-height: 10px;
  color: #ff7700;
}

.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  #clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  #clockdiv
  > div {
  padding: 3px;
  border-radius: 3px;
  background: #444;
  display: inline-block;
  float: left;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  #clockdiv
  > div:nth-of-type(2) {
  margin: 0 5px 0 5px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  #clockdiv
  > div:nth-of-type(3) {
  margin: 0 5px 0 0px;
}

.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  #clockdiv
  div
  > span {
  padding: 8px;
  border-radius: 3px;
  background: #006fb5;
  display: inline-block;
  color: #fff;
}

.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .AddedBy
  .user_addedName
  .smalltext {
  padding-top: 5px;
  font-size: 12px;
  display: block;
  text-align: center;
}

.right_data_main.addnew_vehicle .col-lg-4 .rightBoxMain .HighestBidBox {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  .high_name
  span {
  display: inline-block;
  font-weight: 600;
  color: #006fb5;
  margin-bottom: 5px;
  text-align: left;
  text-transform: capitalize;
  float: left;
  font-size: 19px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  .high_name
  .Hbid_price {
  float: left;
  margin: 0 0 0 15px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  .high_name
  .Hbid_price
  span {
  float: left;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  .high_name
  .Hbid_price
  i {
  float: left;
  font-size: 23px;
  color: #006fb5;
  margin-right: 5px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  .ViewMoreBids
  a {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block;
  margin-top: 5px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content {
  border: 1px solid #ccc;
  margin-top: 10px;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content
  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content
  ul
  li {
  background: #f2f2f2;
  padding: 4px 4px 4px 4px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content
  ul
  li:last-child {
  border: 0;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content
  ul
  li
  i.fa-inr {
  float: left;
  margin: 0 3px 0 0;
}
.right_data_main.addnew_vehicle
  .col-lg-4
  .rightBoxMain
  .HighestBidBox
  #hidden_content
  ul
  li:nth-of-type(2n + 2) {
  background: #fff;
}

@media screen and (max-width: 1340px) {
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName {
    width: 80%;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .HighestBidBox
    .high_name
    span {
    font-size: 18px;
  }
}
@media screen and (max-width: 1300px) {
  .right_data_main .filter_main .col-lg-3 .priceRange select {
    float: left;
    padding: 5px;
    border: 1px solid #f2f2f2;
    font-size: 13px;
    width: 100%;
  }
  .right_data_main .filter_main .mid-width.wrapItems select {
    font-size: 13px;
  }
  .right_data_main .filter_main .FuelType select {
    font-size: 13px;
  }
  .right_data_main .filter_main span.heading {
    font-size: 13px;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    h3
    .bidBy {
    width: 62%;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li
    .NameData {
    width: 70%;
  }
}
@media screen and (max-width: 1260px) {
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName {
    width: 75%;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    .smalltext {
    font-size: 10px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    #clockdiv {
    font-size: 15px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .HighestBidBox
    .high_name
    .Hbid_price {
    float: left;
    margin: 0 0 0 1px;
    display: block;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .HighestBidBox
    .high_name
    span {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1200px) {
  .right_data_main #parentHorizontalTab .resp-tab-content .auction_box {
    margin-bottom: 30px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName {
    width: 72%;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    #clockdiv
    > div {
    width: 44%;
    margin-bottom: 5px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    #clockdiv
    > div:nth-of-type(2) {
    margin: 0 5px 5px 5px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    .smalltext {
    font-size: 12px;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .right_data_main #parentHorizontalTab .resp-tabs-list .resp-tab-item {
    padding: 10px 4px;
    font-size: 11.2px;
    margin-right: 1px;
  }
  .right_data_main #parentHorizontalTab .resp-tabs-list .resp-tab-item span {
    margin-left: 4px;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tabs-list
    .resp-tab-item:last-child {
    margin: 0;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li:nth-of-type(1) {
    clear: both;
  }
  .right_data_main .filter_main .wrapMulDrop ul li label {
    width: 92%;
    cursor: pointer;
    margin: 0;
    color: #333;
    display: inline-block;
    padding: 3% 5%;
    font-size: 14px;
    word-wrap: break-word;
    float: left;
    margin-left: 12px;
  }
  .right_data_main .filter_main .wrapMulDrop ul li input[type="checkbox"] {
    top: 5px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .auctionDetails_Price::before {
    display: none;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    #clockdiv
    > div {
    width: auto;
  }
  .right_data_main
    #parentHorizontalTab.detail_smltabbing
    .resp-tabs-list
    .resp-tab-item {
    font-size: 14px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .top_barRight .MyAccount.notification .dropdown .dropdown-menu {
    right: -195px;
    max-width: 300px;
    width: 260px;
  }
  .sml_dLogo {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .sml_dLogo a {
    display: inline-block;
  }
  .smlDevice {
    display: block;
    max-width: 300px;
    position: fixed;
    z-index: 5;
    height: auto;
    background: #fff;
  }
  .smlDevice a.burgerMenu {
    font-size: 25px;
    color: #000;
    position: absolute;
    z-index: 1;
    top: 5px;
  }
  .smlDevice #SmlMenu {
    margin-top: 30px;
  }
  .smlDevice a.burgerMenu i {
    background: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
  }
  .smlDevice #SmlMenu .leff_main_box .logo_box {
    display: none;
  }
  .right_data_main h1 {
    margin: 0 auto 20px;
    width: 95%;
  }
  .right_data_main .filter_main {
    width: 96%;
    margin: 0 auto;
  }
  .right_data_main #parentHorizontalTab .resp-tabs-list .resp-tab-item span {
    margin-left: 3px;
  }
  .leff_main_box {
    padding: 15px 15px 15px 0px;
  }
  .right_data_main .filter_main .wrapMulDrop ul li label {
    width: 92%;
    cursor: pointer;
    margin: 0;
    color: #333;
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    word-wrap: break-word;
    float: left;
    margin-left: 12px;
  }
  .right_data_main .filter_main .multiDrop {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li:nth-of-type(2n + 2) {
    float: none;
    width: 100%;
    clear: both;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li:nth-of-type(3n + 3) {
    float: none;
    width: 100%;
    clear: both;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li
    span {
    width: 75%;
  }
  .right_data_main #parentHorizontalTab .resp-tab-content .auction_box ul li {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    h3
    .bidBy {
    width: 100%;
    margin: 5px 0 5px 0;
  }
  .right_data_main
    #parentHorizontalTab
    .resp-tab-content
    .auction_box
    ul
    li
    .NameData {
    width: 100%;
    padding: 5px 0;
  }
  .right_data_main .filter_main .wrapMulDrop {
    width: 99.5%;
    float: right;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    .smalltext {
    font-size: 9px;
  }
  .right_data_main.addnew_vehicle
    .col-lg-4
    .rightBoxMain
    .AddedBy
    .user_addedName
    #clockdiv {
    font-size: 14px;
  }
}
