


.has-error select{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.admin-header{
    padding: 25px;
    font-size: 20px;
}

.admin-header .info{
    float: right;
    font-size: 15px;
}
.login-screen{
    padding: 8%;
}

.login-screen .btn-section{
    text-align: center;
}

.uib-tab-active{
    background: #006fb5 !important;
	color: #fff !important;
}