<div class="admin-header" ng-if=showHeader>
    <uib-tabset active="active">
        <uib-tab ui-sref="sellerListing" index="0" heading="Sellers"></uib-tab>
        <uib-tab index="1" heading="Auctions"></uib-tab>

        <span class="info" uib-dropdown>
            <a href id="simple-dropdown" uib-dropdown-toggle>
                {{email}}
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                    <a href ng-click="logOut()">Log Out</a>
                </li>
            </ul>
        </span>

    </uib-tabset>

</div>