@font-face {
    font-family: 'Conv_Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* body {
    font-family: 'Conv_Roboto-Regular';
} */

.admin-cls-img {
    border-radius: 50%;
}

.margin-0-admin {
    margin-bottom: 0px;
}

.sidebar ul.sidebar-menu li {
    border-bottom: 1px solid #2e3743;
}

aside.main-sidebar {
    padding-top: 77px;
}

ul.treeview-menu li {
    border-bottom: 1px solid #2e3743;
}

ul.treeview-menu li:last-child {
    border-bottom: 0px solid #2e3743;
}

.content-wrapper {
    padding: 15px;
}

.content-wrapper .toptable-wrappe {
    background: #fff;
    padding: 15px;
    position: relative;
}

.border-none-class {
    border: none;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.border-bottom-o-class {
    margin-bottom: 0px;
}

.table {
    background: #fff;
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
}

.table-bordered {
    border: 1px solid #e5e5e5;
}

.table-bordered.hide-td-border>tbody>tr>td,
.table-bordered.hide-td-border>tbody>tr>th,
.table-bordered.hide-td-border>tfoot>tr>td,
.table-bordered.hide-td-border>tfoot>tr>th,
.table-bordered.hide-td-border>thead>tr>td,
.table-bordered.hide-td-border>thead>tr>th {
    border: 0px solid #ddd;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination li.active a:hover {
    background-color: #ddd;
    cursor: pointer;
}

ul.pagination li.active a:hover {
    color: #337ab7;
    cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: #fff;
}


/*ul.pagination li a:hover:not(.active) {
    background-color: #fff;
}*/

ul.pagination li a.active {
    background-color: #f2f2f2;
    color: #7c7c7c;
    border-radius: 5px;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 2px 12px;
    text-decoration: none;
}

.paggination-search-section .pagination {
    float: right;
}

.nightout-admin-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Conv_Roboto-Regular';
    margin: 5px 0 45px 0;
}

.search-section-class {
    position: absolute;
    right: 0;
    top: 0;
    background: #b43411;
    padding: 14px;
}

.relative-class-table {
    position: relative;
}

.width-class-86 {
    width: 86%;
}

.styled-select select {
    background: transparent;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    height: 34px;
    overflow: hidden;
    background: url('/img/select-drop-arrow.png') no-repeat right;
}

.border-bottom-o-class select {
    font-family: 'Conv_Roboto-Light' !important;
    color: #9b9b9b;
    font-size: 16px;
}

.table-bordered.hide-td-border>thead>tr>th {
    opacity: 0.9;
    vertical-align: middle;
    font-family: 'Conv_Roboto-Bold';
    color: #333333;
    font-size: 16px;
}

.table-bordered.hide-td-border>tbody>tr>td {
    color: #666666;
    opacity: 0.8;
    font-size: 15px;
}

.table-date-class {
    position: relative;
    margin-bottom: 0;
    font-family: 'Conv_Roboto-Light' !important;
    color: #9b9b9b;
    font-size: 16px;
}

.table-date-class-span {
    position: absolute;
    right: 0;
}

.table-bordered>tbody>tr>td {
    vertical-align: middle;
}

.hide-td-border>tbody>tr,
.hide-td-border>thead>tr {
    border-bottom: 1px solid #e5e5e5;
}

.total-search-class {
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 22px;
}


/*--home-admin-css--*/

.table-btn-section {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 30px;
}

.Add-business-btn {
    /*width: 204px;*/
    height: 48px;
    background: #b43411;
    border: none;
    border-radius: 0;
    font-family: 'Conv_Roboto-Light';
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-left: 9px;
}

.Add-business-btn:hover {
    background: #b43411;
}

.Add-business-btn:focus {
    outline: none;
}

.padding-lt-35-table {
    padding-right: 35px;
}

.inline-table-class {
    display: inline-block;
}

.border-lt-cls {
    padding-left: 12px;
    padding-right: 30px;
}

.padding-table-rt-22 {
    padding-right: 20px;
}

.input-inline-class {
    display: inline-block;
    position: relative;
}

.reservation-icon-abcls {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.calender-div-relative {
    display: inline-block;
}

.input-inline-class input {
    padding: 0px 15px;
}

@media(max-width:768px) {
    .sidebar {
        padding-bottom: 10px;
        padding-top: 75px;
    }
    .content-wrapper {
        padding-top: 75px;
    }
}


/*addedd by HP*/

a.Add-business-btn {
    padding: 10px;
}


/*.searchbyName{
    width:85%;
}*/

.searchbyName input {
    padding: 5px;
}

.search-section-class.searchIconSection {
    position: absolute;
    right: 4px;
    top: 12px;
    background: #b43411;
    padding: 8px;
    border-radius: 5px;
}

.resetSectionContainer {
    width: 70px;
    text-align: center;
    margin-bottom: 5px;
}

.resetSectionContainer__businesslist {
    text-align: center;
    margin-bottom: 5px;
    padding-left: 5px;
}

.resetSectionContainer>a {
    font-family: 'Conv_Roboto-Light';
}

.resetSectionContainer__businesslist>a {
    font-family: 'Conv_Roboto-Light';
}

.resetSectionContainer.salesTrackerButtons {
    width: auto;
    margin-left: 10px;
}

.resetSection {
    background: #b43411;
    padding: 8px;
    border-radius: 5px;
}

.resetSection>a {
    color: #fff;
}

.adminFilterDropdown {
    width: 100%;
    /*max-width: 170px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
}

.adminFilterDropdown>select {
    width: 100%;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 10px 5px 10px 15px;
    display: block;
    font-size: 14px;
    cursor: pointer;
}

.adminFormSection input[type=text],
.adminFormSection input[type=number],
.adminFormSection input[type=email],
.adminFormSection input[type=password] {
    padding: 5px 10px;
}

.warning-text {
    color: red;
}

.form-group.has-error label {
    color: #a94442;
}

.weekTimings {
    border: 1px solid #ccc;
}

.weekDayName {
    text-transform: capitalize;
}

.modal-header.adminDeleteConfirmationBoxHeader {
    padding: 10px;
    background: #b43411;
    color: #fff;
}

.modal-body.adminDeleteConfirmationBoxBody {
    height: auto;
    background: #fff;
    padding: 15px;
}

.form-group.has-error .form-control {
    border-color: #a94442;
    box-shadow: none;
}

.space {
    margin-left: 1%;
    margin-top: 2%;
    width: 6%;
    /* height: 6%; */
    border-radius: 29px;
    border: 3px solid rgb(34, 119, 221);
}

.imgClass {
    width: 100%;
    height: auto;
}

.profilePicClass {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.profileButton {
    margin-left: 51%;
    margin-top: -4%;
}

.adminProfileImage {
    width: 120px;
    height: 120px;
    border: 4px solid #b43411;
}

.tablefilter-class {
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.before-arrow-class-ab:before {
    content: "";
    width: 1px;
    height: 31px;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
}

.before-arrow-class-ab1:before {
    content: "";
    width: 1px;
    height: 31px;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
}

.before-arrow-class-ab2:before {
    content: "";
    width: 1px;
    height: 31px;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
}

.addMoreBtn {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.errorBlock {
    border: 1px solid #a94442;
    color: #a94442;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.locationSection {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
}

.timeFormatDD {
    display: inline-block;
    width: 50px;
    padding: 0;
}

.timePickerSection input {
    border-radius: 5px;
}

.chkOtherLocations {
    margin-left: 15px;
    display: inline-block;
    padding: 10px;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.fontNormal {
    font-weight: 400;
}

#confirm .modal-header {
    padding: 10px;
    background: #b43411;
    color: #fff;
}

#confirm .modal-body {
    height: auto;
    background: #fff;
    padding: 15px;
}

div.bootbox.modal.fade.bootbox-alert.in>div>div>div.modal-body {
    height: auto;
    background: #fff;
    padding: 15px;
}

.ats-switch {
    border-color: #ddd;
    border-radius: 5px;
}

li.open .dropdown-toggle {
    color: #b43411 !important;
}


/*.dropdown-menu{
    padding-top:3px;
    background-color: rgb(0,0,0);
}*/

span.logo-collapse {
    display: none;
    width: 50px;
    padding: 0 5px;
}

li.open>a:hover,
li.open>a:focus {
    background: none !important;
}

.padding-bottom20 {
    margin-bottom: 15px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-top20 {
    margin-top: 20px !important;
}

.margin-top30 {
    margin-top: 30px !important;
}

.margin-top40 {
    margin-top: 40px !important;
}

.margin-top50 {
    margin-top: 50px !important;
}

.margin-top60 {
    margin-top: 60px !important;
}

.margin-top70 {
    margin-top: 70px !important;
}

.margin-left0 {
    margin-left: 0px !important;
}

.hower {
    cursor: pointer !important;
}

.mt23 {
    margin-top: 23px;
}

.margin-left20 {
    margin-left: 20px !important;
}

.resize-none {
    resize: none;
}


