<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a ui-sref="adminDashBoard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Auctions</li>
</ol>

<h1 ng-if="params.name">{{params.name}}' Auctions</h1>
<h1 ng-if="!params.name">Auctions</h1>

<hr>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Auction List</div>
    <div class="card-body">
        <div class="table-responsive">

            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="row">

                    <div class="col-md-12">
                        <div class="">
                            <label>Auction Status:
                                <select ng-model="filter.status" class="form-control form-control-sm">
                                    <option value="">Select</option>
                                    <option value="1">Live</option>
                                    <option value="2">Up Coming</option>
                                    <option value="3">New</option>
                                    <option value="4">Rejected</option>
                                    <option value="5">Closed</option>

                                </select>
                            </label>
                            <label>
                                <button ng-click="applyFilters()" class="btn btn-primary form-control form-control-sm">Apply</button>
                            </label>
                            <label>
                                <button ng-click="clearFilters()" class="btn btn-danger form-control form-control-sm">Reset</button>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th ng-class="sortType!='vehicle_name'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'vehicle_name'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                        Name
                                    </th>
                                    <th class="wd-15" ng-class="sortType!='uploaded_by'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'uploaded_by'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                        Uploaded By
                                    </th>
                                    <th>
                                        Reg no
                                    </th>
                                    <th class="wd-15" ng-class="sortType!='start_bid'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'start_bid'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                        Start Bid
                                    </th>
                                    <th>
                                        Model
                                    </th>

                                    <th class="wd-15" ng-class="sortType!='evaluation_date'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'evaluation_date'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                        Evaluation Date
                                    </th>
                                    <th class="wd-15" ng-class="sortType!='creationDate'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'creationDate'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                        Upload Date
                                    </th>
                                    <th>Status</th>
                                    <th>
                                        Change
                                    </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in vehicles">
                                    <td>
                                        <a ui-sref="auctionDetail({vehicleId:'{{vehicle.vehicleId}}',model:'{{vehicle.vehicle_name}}'})">{{vehicle.vehicle_name}}</a>
                                    </td>
                                    <td>{{vehicle.uploaded_by}}</td>
                                    <td>{{vehicle.registration_number}}</td>
                                    <td>{{vehicle.start_bid}}</td>
                                    <td>{{vehicle.model}}</td>
                                    <td>{{vehicle.evaluation_date}}</td>
                                    <td>{{vehicle.creationDate}}</td>
                                    <td>{{vehicle.status_name}}</td>
                                    <td>
                                        <button ng-if="vehicle.vehicle_status==1" aria-hidden="true" ng-click="changeVehicleStatus(vehicle.vehicleId,2)">Approve</button>
                                        <button ng-if="vehicle.vehicle_status==1" aria-hidden="true" ng-click="changeVehicleStatus(vehicle.vehicleId,3)">Reject</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing {{totalValues}} entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">


                            <paging page="currentPage" page-size="numPerPage" total="totalValues" show-prev-next="true" show-first-last="true" paging-action="getVehicleList(page,numPerPage)">
                            </paging>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>