<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Auctions</li>
</ol>

<h1>Auctions</h1>
<hr>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Auction List</div>
    <div class="card-body">
        <div class="table-responsive">

            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="" ng-click="sortType = 'vehicle_name'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Vehicle Name
                                            <span ng-show="sortType == 'vehicle_name' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'vehicle_name' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sortType = 'uploaded_by'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Uploaded By
                                            <span ng-show="sortType == 'uploaded_by' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'uploaded_by' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sortType = 'registration_number'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Reg no
                                            <span ng-show="sortType == 'registration_number' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'registration_number' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sortType = 'start_bid'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Start Bid
                                            <span ng-show="sortType == 'start_bid' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'start_bid' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sortType = 'model'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Model
                                            <span ng-show="sortType == 'model' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'model' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>

                                    <th>
                                        <a href="" ng-click="sortType = 'evaluation_date'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Evaluation Date
                                            <span ng-show="sortType == 'evaluation_date' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'model' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="sortType = 'creationDate'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Upload Date
                                            <span ng-show="sortType == 'creationDate' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'creationDate' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th class="table-center">
                                        <a href="" ng-click="sortType = 'isLive'; sortReverse = !sortReverse;getVehicleList(currentPage,numPerPage)">
                                            Live
                                            <span ng-show="sortType == 'isLive' && sortReverse" class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'isLive' && !sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in vehicles">
                                    <td>{{vehicle.vehicle_name}}</td>
                                    <td>{{vehicle.uploaded_by}}</td>
                                    <td>{{vehicle.registration_number}}</td>
                                    <td>{{vehicle.start_bid}}</td>
                                    <td>{{vehicle.model}}</td>
                                    <td>{{vehicle.evaluation_date}}</td>
                                    <td>{{vehicle.creationDate}}</td>
                                    <td class="table-center">
                                        <a href="" ng-if="vehicle.isLive == 1">
                                            <i class="fa fa-check fa-2x" aria-hidden="true" ng-click="changeVehicleStatus(vehicle.vehicleId,false)" confirm-title="Confirm"
                                                confirm="Are you sure you want to live this vehicle?" con confirm-ok="Yes" confirm-cancel="No"
                                                title="Click to unblock">
                                            </i>
                                        </a>
                                        <a href="" ng-if="vehicle.isLive  == 0">
                                            <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="changeVehicleStatus(vehicle.vehicleId,true)" confirm-title="Confirm"
                                                confirm="Are you sure you want to live this vehicle?" con confirm-ok="Yes" confirm-cancel="No"
                                                title="Click to block"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">


                            <paging page="currentPage" page-size="numPerPage" total="totalValues" show-prev-next="true" show-first-last="true" paging-action="getEndUserList(page,numPerPage)">
                            </paging>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>