<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a ui-sref="adminDashBoard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>

<hr>

<div class="card card-login mx-auto mt-5">
    <div class="card-header">
        Change Password</div>
    <div class="card-body">
        <form name="changePasswordFrm" ng-submit="changePassword()">

            <div class="form-group">
                <label for="password">Old Password</label>
                <input class="form-control" ng-model="user.oldPassword" id="password" required type="password" placeholder="Password" maxlength="250"
                    minlength="4">
            </div>

            <div class="form-group">
                <label for="passwordc">New Password</label>
                <input class="form-control" ng-model="user.newPassword" id="passwordc" required type="password" placeholder="New Password"
                    minlength="4" maxlength="250">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Change</button>
        </form>
    </div>
</div>