<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a ui-sref="adminDashBoard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>

<hr>

<div class="card card-login mx-auto mt-5">
    <div class="card-header">
        Change Password</div>
    <div class="card-body">
        <form>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password" maxlength="250">
            </div>

            <div class="form-group">
                <label for="passwordc">Confirm Password</label>
                <input class="form-control" id="passwordc" type="password" placeholder="Confirm Password" maxlength="250">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Change</button>
        </form>
    </div>
</div>