<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a ui-sref="adminDashBoard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Dealers</li>
</ol>

<h1>Dealers</h1>
<hr>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Dealer List</div>
    <div class="card-body">
        <div class="table-responsive">

            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="row">

                    <div class="col-md-12">
                        <div class="">
                            <label>Search:
                                <input type="search" ng-model="searchText" class="form-control form-control-sm" placeholder="email,name...">
                            </label>
                            <label>
                                <button ng-click="searchByInputText()" class="btn btn-primary form-control form-control-sm">Apply</button>
                            </label>
                            <label>
                                <button ng-click="clearFilters()" class="btn btn-danger form-control form-control-sm">Reset</button>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th ng-class="sortType!='firstName'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'firstName'; sortReverse = !sortReverse;getSellerList(currentPage,numPerPage)">
                                        Name
                                    </th>
                                    <th ng-class="sortType!='email'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'email'; sortReverse = !sortReverse;getSellerList(currentPage,numPerPage)">
                                        Email
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th ng-class="sortType!='creationDate'?'sorting':sortReverse?'sorting_asc':'sorting_desc'" ng-click="sortType = 'creationDate'; sortReverse = !sortReverse;getSellerList(currentPage,numPerPage)">
                                        Registration Date
                                    </th>
                                    <th class="wd-7">Limit</th>
                                    <th class="wd-7">Approve</th>
                                    <th class="wd-7">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="enduser in admin.allEndUsers">
                                    <td>{{enduser.firstName + ' '+ enduser.lastName}}</td>
                                    <td>{{enduser.email}}</td>
                                    <td>{{enduser.phone}}</td>
                                    <td>{{enduser.creationDate}}</td>
                                    <td>{{enduser.biddingLimit}}</td>

                                    <td>
                                        <i ng-class="enduser.status?'fa fa-check':'fa fa-remove'" aria-hidden="true" ng-click="blockUnblockEndUser(enduser.userId,enduser.status)"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteEndUser(enduser.userId)"></i>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing {{totalValues}} entries</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">


                            <paging page="currentPage" page-size="numPerPage" total="totalValues" show-prev-next="true" show-first-last="true" paging-action="getEndUserList(page,numPerPage)">
                            </paging>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">
        Having multiple modals open at once is probably bad UX but it's technically possible.
    </div>
</script>