<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main addnew_vehicle">
                <ol class="breadcrumb">
                    <li class="active">Dashboard</li>
                </ol>

                <div class="steps_formMain">
                    <!-- MultiStep Form -->

                    <form id="msform">
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">Vehicle basic and registration details </h2>
                            <ul class="stepone">

                                <li>
                                    <div class="names">Bidding Starting Price
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Vehicle Name
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Registration Date
                                        <span>*</span>
                                    </div>
                                    <input type="text" class="datepicker">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Vin No</div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Engine No
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Number of Owners</div>
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </li>
                                <div class="clearfix"></div>
                                <li>
                                    <div class="names">Fuel Type</div>
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>petrol</option>
                                        <option>diesel</option>
                                        <option>Hybrid</option>
                                        <option>CNG</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Color</div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Model</div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Variant
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Evaluation Date
                                        <span>*</span>
                                    </div>
                                    <input type="text" class="datepicker">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Manufacturing Year
                                        <span>*</span>
                                    </div>
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>2017</option>
                                        <option>2016</option>
                                        <option>2015</option>
                                        <option>2014</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Rc Status</div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Current Sity
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Passengers</div>
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>7</option>
                                        <option>8</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="names">Transition Type
                                        <span>*</span>
                                    </div>
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>manual</option>
                                        <option>automatic</option>
                                    </select>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <div class="names">Distance Travelled by Vehicle
                                        <span>*</span>
                                    </div>
                                    <input type="text">
                                    <div class="clearfix"></div>
                                </li>



                                <div class="clearfix"></div>
                            </ul>

                            <input type="button" name="next" id="next" class="next action-button" value="Next" />
                        </fieldset>


                    </form>

                    <!-- /.MultiStep Form -->
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
    </div>
</div>