<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="auction_box">
        <div class="imag">

            <div class="timing" ng-if="vehicle.auctionType===1">
                <span>End Time</span>
                <time>
                    <i class="fa fa-clock-o"></i>
                    <span>3:00 Hrs</span>
                </time>
                <div class="clearfix"></div>

            </div>
            <div class="timing" ng-if="vehicle.auctionType===2">
                <span>Start Time</span>
                <time>
                    <i class="fa fa-clock-o"></i>
                    <span>3:00 Hrs</span>
                </time>
                <div class="clearfix"></div>

            </div>
            <div class="timing" ng-if="vehicle.auctionType===3">
                <span>Waiting for approval</span>
                <div class="clearfix"></div>

            </div>
            <img ng-src="{{vehicle.imageUrl}}">
        </div>
        <h2>
            <a href="#">{{vehicle.vehicle_name}}</a>
        </h2>
        <h3 ng-if="vehicle.auctionType===1">
            <span class="bidHeading">Highest Bid :</span>
            <span class="bidBy">
                <i class="fa fa-rupee"></i>5000/- By Shashi kant Kahndelwal</span>
        </h3>
        <ul>
            <li>
                <div class="name">Added By</div>
                <div class="Coll">:</div>
                <div class="NameData">{{vehicle.uploadedBy}}</div>
                <div class="clearfix"></div>
            </li>
            <li>
                <i class="fa fa-map-marker"></i>
                <span class="smlData">{{vehicle.location}}</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <i>
                    <img src="img/fuel-icon.jpg">
                </i>
                <span class="smlData">{{vehicle.fuel_type}}</span>
                <div class="clearfix"></div>
            </li>
            <div class="clearfix"></div>
            <li>
                <i class="fa fa-tachometer"></i>
                <span class="smlData">{{vehicle.distance_travelled}} KM</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <i class="fa fa-calendar"></i>
                <span class="smlData">{{vehicle.manufacturing_year}}</span>
                <div class="clearfix"></div>
            </li>
            <div class="clearfix"></div>
            <li>
                <i class="fa fa-car"></i>
                <span class="smlData">{{vehicle.transmission_type}}</span>
                <div class="clearfix"></div>
            </li>
            <li>
                <i class="fa fa-shield"></i>
                <span class="smlData">{{vehicle.insurance_type}}</span>
                <div class="clearfix"></div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <div ng-if="vehicle.auctionType===4" class="reason">
            <span>Reason:</span>
            {{vehicle.reject_reason}}
    </div>
</div>