<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main">
                <ol class="breadcrumb">
                    <li class="active">Dashboard</li>
                </ol>

                <h1>
                    Dashboard
                    <span>
                        <a ui-sref="sellerAddAuction">
                            <i class="fa fa-plus-circle"></i>
                            <span>add new vehicle</span>
                        </a>
                    </span>
                    <div class="clearfix"></div>
                </h1>

                <div class="filter_main">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>Filters:</span>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="heading">Uploaded By</span>
                            <tags-input class="seller-multi" placeholder="Select Seller" ng-model="subsellerSelections" tag-class="{even: $index % 2 == 0, odd: $index % 2 != 0}">
                                <auto-complete load-on-focus="true" load-on-empty="true" source="loadUser($query)"></auto-complete>
                            </tags-input>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="priceRange">
                                <span class="heading">Price Range</span>
                                <span class="min_price">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.minPrice">
                                        <option value="">Min Price</option>
                                        <option value="10000">10,000</option>
                                        <option value="20000">20,000</option>

                                    </select>
                                </span>

                                <span class="max-price">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.maxPrice">
                                        <option value="">Max Price</option>
                                        <option value="10000">10,000</option>
                                        <option value="20000">20,000</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Fuel Type</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.fuelType">
                                        <option value="">Select</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="Diesel">Diesel</option>
                                    </select>
                                </span>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Owner</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.owner">
                                        <option value="">Select</option>
                                        <option value="1">First Owner</option>
                                        <option value="2">Secound Owner</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Transmission Type</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.transmission">
                                        <option value="">Select</option>
                                        <option value="Automatic">Automatic</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input ng-click="applyFilter()" type="submit" value="Apply Filter">
                            <input ng-click="resetFilter()" type="reset" value="Reset">
                        </div>

                    </div>
                    <div></div>
                    <div class="clearfix"></div>
                </div>
                <div class="shortBy">
                    <span>Sort By</span>
                    <span class="shortD">
                        <i class="fa fa-angle-down"></i>
                        <select>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </span>
                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div id="parentHorizontalTab">


                            <uib-tabset>
                                <!-- live -->
                                <uib-tab index="0" select="tabChange(1)">
                                    <uib-tab-heading>
                                        Live Actions
                                        <span>({{tabinfo.liveAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">
                                                <auction-seller vehicle="auction" ng-repeat="auction in auctions"></auction-seller>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- upcoming -->
                                <uib-tab index="1" select="tabChange(2)">
                                    <uib-tab-heading>
                                        Upcoming Actions
                                        <span>({{tabinfo.upcomingAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-seller vehicle="auction" ng-repeat="auction in auctions"></auction-seller>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- pending -->
                                <uib-tab index="2" select="tabChange(3)">
                                    <uib-tab-heading>
                                        Pending Actions
                                        <span>({{tabinfo.pendingAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-seller vehicle="auction" ng-repeat="auction in auctions"></auction-seller>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- rejected -->
                                <uib-tab index="3" select="tabChange(4)">
                                    <uib-tab-heading>
                                        Rejected Actions
                                        <span>({{tabinfo.rejectedAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-seller vehicle="auction" ng-repeat="auction in auctions"></auction-seller>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

        <app-footer></app-footer>
    </div>
</div>