<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>

                <h1>
                    Dashboard
                    <span>
                        <a href="#">
                            <i class="fa fa-plus-circle"></i>
                            <span>add new vehicle</span>
                        </a>
                    </span>
                    <div class="clearfix"></div>
                </h1>

                <div class="filter_main">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>Filters:</span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <span class="heading">Uploaded By</span>
                            <div ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                            <div class="priceRange">
                                <span class="heading">Price Range</span>
                                <span class="min_price">
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>Min Price</option>
                                    </select>
                                </span>

                                <span class="max-price">
                                    <i class="fa fa-angle-down"></i>
                                    <select>
                                        <option>Max Price</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Fuel Type</span>
                                <select>
                                    <option>Petrol</option>
                                    <option>Diesel</option>
                                </select>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Owner</span>
                                <select>
                                    <option>First Owner</option>
                                    <option>Secound Owner</option>
                                </select>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Transmission Type</span>
                                <select>
                                    <option>Automatic</option>
                                </select>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="clearfix"></div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div id="parentHorizontalTab">


                            <uib-tabset>
                                <!-- live -->
                                <uib-tab index="0">
                                    <uib-tab-heading>
                                        Live Actions
                                        <span>({{tabinfo.liveAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">
                                                <auction-live vehicle="auction" ng-repeat="auction in auctions"></auction-live>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- upcoming -->
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        Upcoming Actions
                                        <span>({{tabinfo.upcomingAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-live vehicle="auction" ng-repeat="auction in auctions"></auction-live>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- pending -->
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        Pending Actions
                                        <span>({{tabinfo.pendingAuctions.length}})</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-live vehicle="auction" ng-repeat="auction in auctions"></auction-live>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <!-- rejected -->
                                <uib-tab index="3">
                                    <uib-tab-heading>
                                        Rejected Actions
                                        <span>(9)</span>
                                    </uib-tab-heading>

                                    <div class="resp-tabs-container">
                                        <div class="resp-tab-content resp-tab-content-active">
                                            <div class="row">

                                                <auction-live vehicle="auction" ng-repeat="auction in auctions"></auction-live>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>


        <footer>
            <ul>
                <li>
                    <a href="#">Terms and condition</a>
                </li>
                <div class="clearfix"></div>
            </ul>
            &copy; 2017 all rights reserved
        </footer>

    </div>
</div>