<div class="top_barRight">
    <div class="sml_dLogo">
        <a href="#">
            <img src="img/logo.PNG">
        </a>
    </div>


    <div class="MyAccount">
        <div class="dropdown">
            <a href="#" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="img/userImage.jpg">
                <span>My Account</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li>
                    <a ui-sref="userProfile">
                        <i class="fa fa-user"></i>
                        <span>My Profile</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <a ui-sref="help" target="_blank">
                        <i class="fa fa-info"></i>
                        <span>Help</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="#" data-ng-click="logout()">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="MyAccount notification">
        <div class="dropdown">
            <a href="#" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell" /></i>
                <span ng-if="notification.unread">{{notification.unread}}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li ng-repeat="noti in notification.data">
                    <a ui-sref="sellerNotification">{{noti}}
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a ui-sref="sellerNotification">View All
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</div>