<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="sellerDashboard">Dashboard</a>
                    </li>
                    <li class="active">Notifications</li>
                </ol>

                <h1>
                    Notifications
                    <div class="clearfix"></div>
                </h1>




                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" width="100%" cellspacing="0" ng-if="notifications.length>0">
                                <thead>
                                    <tr role="row">
                                        <th>Type</th>
                                        <th>Bid Amount</th>
                                        <!-- <th>Bid By</th> -->
                                        <th>Vehicle</th>
                                        <th>Model</th>
                                        <th>Vehicle Status</th>
                                        <th>Added By</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="noti in notifications">
                                        <td>{{noti.notificationType==1?'Bidding':noti.notificationType==2?'Add/Update':'Win'}}</td>
                                        <td>{{noti.bidAmount?noti.bidAmount:'NA'}}</td>
                                        <!-- <td>{{noti.bidBy?noti.bidBy:'NA'}}</td> -->
                                        <td>
                                            <a ui-sref="sellerAuctionDetail({vehicleId:'{{noti.vehicleId}}',model:'{{noti.vehicle_name}}'})">
                                                {{noti.vehicle_name}}
                                            </a>
                                        </td>
                                        <td>{{noti.model}}</td>
                                        <td>{{noti.vehicle_status==1?'Added':noti.vehicle_status==2?'Approved':noti.vehicle_status==3?'Rejected':'NA'}}</td>
                                        <td>{{noti.uploadedBy}}</td>
                                        <td>{{noti.dateCreated}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="notifications.length==0">
                                You dont have any Notifications/Vehicle </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>
