<div class="smlDevice">
    <a href="#" class="burgerMenu">
        <i class="fa fa-bars"></i>
    </a>
    <div class="col-lg-3 col-md-3 col-sm-4" id="SmlMenu" style="display:none;">
        <div class="leff_main_box">
            <div class="logo_box">
                <a href="#">
                    <img src="img/logo.PNG" class="img-responsive">
                </a>
            </div>
            <ul>
                <li>
                    <a ui-sref="sellerDashboard" ui-sref-active="active">
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-handshake-o"></i>
                        <span>Close Deals</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <a ui-sref="sellerNotification" ui-sref-active="active">
                        <i class="fa fa-server"></i>
                        <span>Activity Logs (1)</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li ng-if="userProfile.roleId===1">
                    <a ui-sref="sellerSubSeller" ui-sref-active="active">
                        <i class="fa fa-users"></i>
                        <span>Sub User Manager</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li ng-if="userProfile.roleId===1">
                    <a ui-sref="sellerBids" ui-sref-active="active">
                        <i class="fa fa-gavel"></i>
                        <span>Bids</span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </li>
                <li ng-if="userProfile.roleId===1">
                    <a href="#">
                        <i class="fa fa-line-chart"></i>
                        <span>Sale Reports</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <li ng-if="userProfile.roleId===1">
                    <a href="#">
                        <i class="fa fa-money"></i>
                        <span>Payment Manager</span>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </li>
                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
    <div class="leff_main_box">
        <div class="logo_box">
            <a ui-sref="sellerDashboard">
                <img src="img/logo.PNG" class="img-responsive">
            </a>
        </div>
        <ul>
            <li>
                <a ui-sref="sellerDashboard" ui-sref-active="active">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-handshake-o"></i>
                    <span>Close Deals</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <li>
                <a ui-sref="sellerNotification" ui-sref-active="active">
                    <i class="fa fa-server"></i>
                    <span>Activity Logs (1)</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <li ng-if="userProfile.roleId===1">
                <a ui-sref="sellerSubSeller" ui-sref-active="active">
                    <i class="fa fa-users"></i>
                    <span>Sub User Manager</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <li ng-if="userProfile.roleId===1">
                <a ui-sref="sellerBids" ui-sref-active="active">
                    <i class="fa fa-gavel"></i>
                    <span>Bids</span>
                </a>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </li>
            <li ng-if="userProfile.roleId===1">
                <a href="#">
                    <i class="fa fa-line-chart"></i>
                    <span>Sale Reports</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <li ng-if="userProfile.roleId===1">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Payment Manager</span>
                    <div class="clearfix"></div>
                </a>
                <div class="clearfix"></div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>