<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="sellerDashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="sellerSubSeller">Sub Users</a>
                    </li>
                    <li class="active">{{params.name}}'s Auctions</li>

                </ol>

                <h1>
                    {{params.name}}'s Auctions
                    <div class="clearfix"></div>
                </h1>

                <div class="filter_main">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>Filters:</span>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="priceRange">
                                <span class="heading">Price Range</span>
                                <span class="min_price">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.minPrice">
                                        <option value="">Min Price</option>
                                        <option value="10000">10,000</option>
                                        <option value="20000">20,000</option>

                                    </select>
                                </span>

                                <span class="max-price">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.maxPrice">
                                        <option value="">Max Price</option>
                                        <option value="10000">10,000</option>
                                        <option value="20000">20,000</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Fuel Type</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.fuelType">
                                        <option value="">Select</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="Diesel">Diesel</option>
                                        <option value="LPG">LPG</option>
                                        <option value="CNG">CNG</option>
                                        <option value="Hybrid">Hybrid</option>
                                    </select>
                                </span>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Owner</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.owner">
                                        <option value="">Select</option>
                                        <option value="1">First Owner</option>
                                        <option value="2">Second Owner</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="FuelType">
                                <span class="heading">Transmission Type</span>
                                <span class="fueltp">
                                    <i class="fa fa-angle-down"></i>
                                    <select ng-model="filter.transmission">
                                        <option value="">Select</option>
                                        <option value="Automatic">Automatic</option>
                                        <option value="Mannual">Mannual</option>
                                    </select>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input ng-click="applyFilter()" type="submit" value="Apply Filter">
                            <input ng-click="resetFilter()" type="reset" value="Reset">
                        </div>

                    </div>
                    <div></div>
                    <div class="clearfix"></div>
                </div>
                <div class="shortBy">
                    <span>Sort By</span>
                    <span class="shortD">
                        <i class="fa fa-angle-down"></i>
                        <select ng-model="filter.sortBy">
                            <option value="">Select</option>
                            <option value="newest">Newest</option>
                            <option value="lowToHigh">Low To High</option>
                            <option value="highToLow">High To Low</option>
                            <option value="mostPopular">Most Pupular</option>
                            <option value="leastPopular">Least Pupular</option>
                        </select>
                    </span>
                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div id="parentHorizontalTab">




                            <div class="resp-tabs-container">
                                <div class="resp-tab-content resp-tab-content-active">
                                    <div class="row">
                                        <auction-seller vehicle="auction" ng-repeat="auction in auctions"></auction-seller>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>
