



<div>
    <div class="accordionButton">Tyres</div>
    <div class="accordionContent">
        <div class="overView_main">
            <ul>

                <li>
                    <span class="Headings">Tyres are a reputable brand name(Michelin, Bridge stone, Apollo, JK, Goodyear, Pirelli etc)</span>
                    <span class="Headings_data">{{inspection_report.tyres.brand_name.value}}/{{inspection_report.tyres.brand_name.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Percentage of tyres status</span>
                    <span class="Headings_data">{{inspection_report.tyres.percentage_tyre_status.value}}/{{inspection_report.tyres.percentage_tyre_status.desc}}</span>
                    <div class="clearfix"></div>
                </li>


                <li>
                    <span class="Headings">Tyres are all of same make</span>
                    <span class="Headings_data">{{inspection_report.tyres.same_make.value}}/{{inspection_report.tyres.same_make.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Tyres are free of cuts, bubbles and cracks</span>
                    <span class="Headings_data">{{inspection_report.tyres.no_cuts_cracks.value}}/{{inspection_report.tyres.no_cuts_cracks.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Tread Worn evenly(Uneven wear indicates alignment and suspension Problem)</span>
                    <span class="Headings_data">{{inspection_report.tyres.thread_worn.value}}/{{inspection_report.tyres.thread_worn.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Spare tyre jack and Lug wrench in car are fully functional</span>
                    <span class="Headings_data">{{inspection_report.tyres.spare_tyre.value}}/{{inspection_report.tyres.spare_tyre.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Spare tyre inflated</span>
                    <span class="Headings_data">{{inspection_report.tyres.spare_tyre_inflated.value}}/{{inspection_report.tyres.spare_tyre_inflated.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Spare tyre Percentage</span>
                    <span class="Headings_data">{{inspection_report.tyres.spare_tyre_percentage.value}}/{{inspection_report.tyres.spare_tyre_percentage.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div>
    <div class="accordionButton">Engine & Transmission</div>
    <div class="accordionContent">
        <div class="overView_main">
            <ul>

                <li>
                    <span class="Headings">Free of fluids or oil leaks</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.fluid_leaks.value}}/{{inspection_report.engine_transmission.fluid_leaks.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Oil filler neck not coated with thick black deposit</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.oil_filler.value}}/{{inspection_report.engine_transmission.oil_filler.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Battery terminal free of corrosion</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.battery_terminals_corrosion.value}}/{{inspection_report.engine_transmission.battery_terminals_corrosion.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Transmission fluid looks clean not dirty and gritty(Indicates no possible internal transmission Oil dip
                        stick free of dark, black color</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.no_black_dark_oil.value}}/{{inspection_report.engine_transmission.no_black_dark_oil.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Free of odors while engine is running</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.no_odors.value}}/{{inspection_report.engine_transmission.no_odors.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Exhaust pipe emission are neither blue(indicates engine burns oil) nor black(indicates excessive oil
                        consumption)
                    </span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.exhaust_pipe_emission.value}}/{{inspection_report.engine_transmission.exhaust_pipe_emission.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">All gauges works properly</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.all_gauge_works.value}}/{{inspection_report.engine_transmission.all_gauge_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">No dashboard warning light remain illuminated</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.no_warning_light_remian_illuminated.value}}/{{inspection_report.engine_transmission.no_warning_light_remian_illuminated.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Wind Shield wipers and Blades are fully Functional</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.wiper_blades_functional.value}}/{{inspection_report.engine_transmission.wiper_blades_functional.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Windshield wipers fluid dispenses Properly</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.wiper_fluid_dispenses_properly.value}}/{{inspection_report.engine_transmission.wiper_fluid_dispenses_properly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Windshield wipers work properly</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.windshiels_wiper_works.value}}/{{inspection_report.engine_transmission.windshiels_wiper_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Head lights and Directional lights are fully functional</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.lights_functional.value}}/{{inspection_report.engine_transmission.lights_functional.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Transmission neither slips nor delay while driving</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.no_slips_delays.value}}/{{inspection_report.engine_transmission.no_slips_delays.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Each gear shifts smoothly</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.gear_shifts_smoothly.value}}/{{inspection_report.engine_transmission.gear_shifts_smoothly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Clutch Working</span>
                    <span class="Headings_data">{{inspection_report.engine_transmission.clutch_working.value}}/{{inspection_report.engine_transmission.clutch_working.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div>
    <div class="accordionButton">Steering, Suspension &Brakes</div>
    <div class="accordionContent">
        <div class="overView_main">
            <ul>

                <li>
                    <span class="Headings">Vehicle Steers Straight And Does Not Pull To One Side while driving</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.vss.value}}/{{inspection_report.steering_suspension_brakes.vss.desc}}</span>
                    <div class="clearfix"></div>
                </li>


                <li>
                    <span class="Headings">Vehicle Is Stable; Any Shaking Or Vibrating</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.stable.value}}/{{inspection_report.steering_suspension_brakes.stable.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Resistance In The Steering Wheel When Turning</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.resistance.value}}/{{inspection_report.steering_suspension_brakes.resistance.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Vehicle rests levelly</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.vehicle_rest_levelly.value}}/{{inspection_report.steering_suspension_brakes.vehicle_rest_levelly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">When bouncing the vehicle's corners no cracking noises are made</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.cracking_noise.value}}/{{inspection_report.steering_suspension_brakes.cracking_noise.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">All corners respond the same when bouncing</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.same_bouncing.value}}/{{inspection_report.steering_suspension_brakes.same_bouncing.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Brakes applies freely</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.brakes_applies_freely.value}}/{{inspection_report.steering_suspension_brakes.brakes_applies_freely.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Parking brakes engages and disengages freely</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.pbedf.value}}/{{inspection_report.steering_suspension_brakes.pbedf.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Grinding noises when applying Brakes Brakes</span>
                    <span class="Headings_data">{{inspection_report.steering_suspension_brakes.grinding_noise.value}}/{{inspection_report.steering_suspension_brakes.grinding_noise.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<div>
    <div class="accordionButton">Interior</div>
    <div class="accordionContent">
        <div class="overView_main">
            <ul>

                <li>
                    <span class="Headings">Seats Unworn and free of cracks</span>
                    <span class="Headings_data">{{inspection_report.interior.seats_unworn_no_cracks.value}}/{{inspection_report.interior.seats_unworn_no_cracks.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Stereo works</span>
                    <span class="Headings_data">{{inspection_report.interior.stereo_works.value}}/{{inspection_report.interior.stereo_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Heater works</span>
                    <span class="Headings_data">{{inspection_report.interior.heater_works.value}}/{{inspection_report.interior.heater_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">AC works</span>
                    <span class="Headings_data">{{inspection_report.interior.ac_works.value}}/{{inspection_report.interior.ac_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">All seats equipped with functional Seats belts</span>
                    <span class="Headings_data">{{inspection_report.interior.seats_equipped_seatbelt.value}}/{{inspection_report.interior.seats_equipped_seatbelt.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">All seats adjust properly</span>
                    <span class="Headings_data">{{inspection_report.interior.seats_adjust_properly.value}}/{{inspection_report.interior.seats_adjust_properly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Power windows operates properly(If Applicable)</span>
                    <span class="Headings_data">{{inspection_report.interior.power_windows_operates_properly.value}}/{{inspection_report.interior.power_windows_operates_properly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Sunroof opens and closes properly(If Applicable)</span>
                    <span class="Headings_data">{{inspection_report.interior.sunroof_open_close_properly.value}}/{{inspection_report.interior.sunroof_open_close_properly.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Car Alarm works(If Applicable)</span>
                    <span class="Headings_data">{{inspection_report.interior.car_alarm_works.value}}/{{inspection_report.interior.car_alarm_works.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Trunk And Driver-Side Door Lock And Unlock With Key</span>
                    <span class="Headings_data">{{inspection_report.interior.trunk_driver_door_lock_with_key.value}}/{{inspection_report.interior.trunk_driver_door_lock_with_key.desc}}</span>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <span class="Headings">Hazard light functional properly</span>
                    <span class="Headings_data">{{inspection_report.interior.hazard_lights_function_properly.value}}/{{inspection_report.interior.hazard_lights_function_properly.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div>
    <div class="accordionButton">Miscellaneous</div>
    <div class="accordionContent">
        <div class="overView_main">
            <ul>

                <li>
                    <span class="Headings">Car Manual Located In The Glove Compartment</span>
                    <span class="Headings_data">{{inspection_report.miscellaneous.car_manual.value}}/{{inspection_report.miscellaneous.car_manual.desc}}</span>
                    <div class="clearfix"></div>
                </li>


                <li>
                    <span class="Headings">Instructions Included For Any Accessories</span>
                    <span class="Headings_data">{{inspection_report.miscellaneous.instructions.value}}/{{inspection_report.miscellaneous.instructions.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Service And Repair Records Available</span>
                    <span class="Headings_data">{{inspection_report.miscellaneous.service_record.value}}/{{inspection_report.miscellaneous.service_record.desc}}</span>
                    <div class="clearfix"></div>
                </li>

                <li>
                    <span class="Headings">Keys available</span>
                    <span class="Headings_data">{{inspection_report.miscellaneous.keys_available.value}}/{{inspection_report.miscellaneous.keys_available.desc}}</span>
                    <div class="clearfix"></div>
                </li>


                <div class="clearfix"></div>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>