<div class="container-fluid">
    <div class="row">

        <seller-sidemenu></seller-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header></seller-header>

            <div class="right_data_main addnew_vehicle">
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="sellerDashboard">Dashboard</a>
                    </li>
                    <li class="active">Detail</li>
                </ol>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h1>{{auction.vehicle_name}}</h1>
                        <div class="item">
                            <div class="clearfix">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    <li ng-repeat="image in auction.images track by $index" data-thumb="{{image}}">
                                        <span>
                                            <div class="totalImageCount">
                                                <i class="fa fa-camera"></i>
                                                <span>{{$index+1}}/{{auction.images.length}}</span>
                                                <div class="clearfix"></div>
                                            </div>
                                            <a class="img fa fa-arrows-alt" data-url="{{image}}"></a>
                                        </span>
                                        <img src="{{image}}" />
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="Sml_detailsMain">
                            <ul>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <!-- <div class="comp">Toyota</div> -->
                                    <div class="model">{{auction.model}}</div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <i class="fa fa-calendar"></i>
                                    <div class="comp">{{auction.manufacturing_year}}</div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <i class="fa fa-tachometer"></i>
                                    <div class="comp">{{auction.distance_travelled}} KM</div>
                                    <div class="clearfix"></div>
                                </li>

                                <li>
                                    <i>
                                        <img src="img/fuel-icon.jpg">
                                    </i>
                                    <div class="comp">{{auction.fuel_type}}</div>
                                    <div class="clearfix"></div>
                                </li>

                                <div class="clearfix"></div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>


                        <div id="parentHorizontalTab" class="detail_smltabbing">
                            <ul class="resp-tabs-list hor_1">
                                <li>Vehicle Info</li>
                                <li>Inspection Report</li>
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>

                                    <div id="accordion">
                                        <h3>Bidding Starting Price</h3>
                                        <div class="content">
                                            {{auction.start_bid}}
                                        </div>

                                        <h3>Registration Date</h3>
                                        <div class="content">
                                            {{auction.reg_date}}
                                        </div>

                                        <h3>Vin No</h3>
                                        <div class="content">
                                            {{auction.vin_number}}
                                        </div>
                                        <h3>Engine No</h3>
                                        <div class="content">
                                            {{auction.engine_number}}
                                        </div>

                                        <h3>Number Of Owners</h3>
                                        <div class="content">
                                            {{auction.previous_owners}}
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="rightBoxMain">
                            <div class="AddedBy">
                                <div class="user_icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="user_addedName">
                                    <span>Added By</span>
                                    {{auction.uploadedBy}}
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="AddedBy">
                                <div class="user_icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="user_addedName">
                                    <span>Date</span>
                                    20-Nov-2017
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="auctionDetails_Price">
                                <i class="fa fa-inr"></i>
                                <span>{{auction.start_bid}}</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="AddedBy">
                                <div class="user_icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="user_addedName">
                                    <span>Ending Soon</span>
                                    <div id="clockdiv">
                                        <div>
                                            <span class="days"></span>
                                            <div class="smalltext">Days</div>
                                        </div>
                                        <div>
                                            <span class="hours"></span>
                                            <div class="smalltext">Hours</div>
                                        </div>
                                        <div>
                                            <span class="minutes"></span>
                                            <div class="smalltext">Minutes</div>
                                        </div>
                                        <div>
                                            <span class="seconds"></span>
                                            <div class="smalltext">Seconds</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>


                            <div class="HighestBidBox">
                                <div class="high_name">
                                    <span>highest bid :</span>
                                    <div class="Hbid_price">
                                        <i class="fa fa-inr"></i>
                                        <span>{{auction.highestBid}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="auction.bids.length>0">
                                    <div class="ViewMoreBids">
                                        <a href="javascript: void(0);" onclick="return false;" id="viewBid">View More Bids</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="hidden_content" style="display:none;">
                                        <ul>
                                            <li ng-repeat="bid in auction.bids">
                                                <i class="fa fa-inr"></i>{{bid.amount}} by {{bid.bidBy}}
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="AllHBids">
                                        <ul>
                                            <li>
                                                <div class="clearfix"></div>
                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>




                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <app-footer></app-footer>
    </div>
</div>