<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <div class="panel panel-default">
            <div class="panel-body">

                <form name="signupForm" ng-submit="signUp()" novalidate>

                    <!--First Name-->
                    <div ng-class="{'form-group':true,'has-error':signupForm.FirstName.$invalid && signupForm.$submitted}">
                        <label>First Name <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" ng-change="" name="FirstName" placeholder="First Name" data-ng-model="user.firstName"
                               required no-special-char autofocus>
                        <p ng-show="signupForm.FirstName.$invalid && signupForm.$submitted" class="help-block">First name is required.</p>
                    </div>
                    <!--Last Name-->
                    <div ng-class="{'form-group':true,'has-error':signupForm.LastName.$invalid && signupForm.$submitted}">
                        <label>Last Name <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" name="LastName" placeholder="Last Name" data-ng-model="user.lastName"
                               required no-special-char autofocus>
                        <p ng-show="signupForm.LastName.$invalid && signupForm.$submitted" class="help-block">Last name is required.</p>
                    </div>

                    <!--Email-->
                    <div ng-class="{'form-group':true,'has-error':(signupForm.email.$invalid || signupForm.email.$error.emailExists) && signupForm.$submitted }">
                        <label>Email <span class="warning-text">*</span></label>
                        <input type="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                               class="form-control" maxlength="100" name="email" placeholder="Email" data-ng-model="user.email"
                               required>
                        <p ng-show="signupForm.email.$error.required && signupForm.$submitted" class="help-block">Email is required.</p>
                        <p ng-show="signupForm.email.$error.pattern && signupForm.$submitted" class="help-block">Email is not valid.</p>
                        <p ng-show="signupForm.email.$error.emailExists && signupForm.$submitted" class="help-block">Account exists with this email id, use new one.</p>
                    </div>

                    <!--Contact Number-->
                    <div ng-class="{'form-group':true,'has-error':signupForm.Phonenumber.$invalid && signupForm.$submitted}">
                        <label>Contact number <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" name="Phonenumber" placeholder="Contact number" data-ng-model="user.contactNo" ng-pattern="/^[0-9]{1,10}$/"
                               required no-special-char autofocus>
                        <p ng-show="signupForm.Phonenumber.$error.required && signupForm.$submitted" class="help-block">Contact number is required.</p>
                        <p ng-show="signupForm.Phonenumber.$error.pattern && signupForm.$submitted" class="help-block">Contact number is not valid.</p>
                    </div>

                    <div ng-class="{'form-group':true,'has-error':signupForm.password.$invalid && signupForm.$submitted}">
                        <label>Password <span class="warning-text">*</span></label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="user.password" name="password" ng-minlength="8" ng-maxlength="20"
                               required>
                        <p ng-show="signupForm.password.$error.required && signupForm.$submitted" class="help-block">Password is required.</p>
                        <p ng-show="!signupForm.password.$error.required && (signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.$submitted" class="help-block">Passwords must be between 8 and 20 characters.</p>
                    </div>

                    <div ng-class="{'form-group':true,'has-error': (signupForm.confirmPass.$error.required || signupForm.confirmPass.$error.noMatch) && signupForm.$submitted}">
                        <label>Repeat Password <span class="warning-text">*</span></label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat Password" data-ng-model="user.repeatPassword" name="confirmPass" required>
                        <p ng-show="signupForm.confirmPass.$error.required && signupForm.$submitted" class="help-block">Confirm your password.</p>
                        <p ng-show="!signupForm.confirmPass.$error.required && signupForm.confirmPass.$error.noMatch && signupForm.password.$dirty && signupForm.$submitted" class="help-block">Passwords do not match.</p>
                    </div>

                    <!--<div ng-class="{'form-group':true,'has-error':signupForm.hearFromDD.$invalid && signupForm.$submitted}">
                        <label>
                            How did you hear about us? <span class="warning-text">*</span>
                        </label>
                        <select required ng-model="user.hearFrom" class="select" name="hearFromDD">
                            <option selected="selected"></option>
                            <option>Google</option>
                            <option>Craigslist</option>
                            <option>Facebook</option>
                            <option>Twitter</option>
                            <option>Email</option>
                            <option>Friend</option>
                            <option>Sales Rep</option>
                            <option>Other</option>
                        </select>
                        <span ng-show="signupForm.hearFromDD.$error.required && signupForm.$submitted" class="help-block">Select an option.</span>
                    </div>-->
                    <button class="btn btn-md btn-info btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>