<div class="container-fluid">
    <div class="row">

        <seller-sidemenu ng-if="userProfile.roleId <= 2"></seller-sidemenu>
        <dealer-sidemenu ng-if="userProfile.roleId === 3"></dealer-sidemenu>

        <div class="col-lg-9 col-md-9 col-sm-8 col-lg-12">

            <seller-header ng-if="userProfile.roleId <= 2"></seller-header>
            <dealer-header ng-if="userProfile.roleId ===3"></dealer-header>

            <div class="right_data_main addnew_vehicle">
                <ol class="breadcrumb">
                    <li>
                        <a ng-if="userProfile.roleId <= 2" ui-sref="sellerDashboard">Dashboard</a>
                        <a ng-if="userProfile.roleId === 3" ui-sref="dealerDashboard">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="userProfile">Profile</a>
                    </li>
                    <li class="active">Change Password</li>
                </ol>

                <div class="steps_formMain">
                    <form class="form-horizontal" name="changePasswordFrm" ng-submit="changePassword()">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Old Password
                            </label>
                            <div class="col-sm-10">

                                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" data-ng-model="user.oldPassword"
                                    name="oldPassword" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">New Password
                            </label>
                            <div class="col-sm-10">

                                <input type="password" class="form-control" id="inputPassword" placeholder="New Password" data-ng-model="user.newPassword"
                                    name="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Repeat Password
                            </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat Password" data-ng-model="user.confirmNewPassword"
                                    name="confirmPass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-md btn-info" type="submit">Change</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>