<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">Change Password</div>

            <form style="padding:10px;" name="changePasswordFrm" method="POST" id="cp" ng-submit="changePassword()" novalidate>


                <div ng-class="{'form-group':true,'has-error':changePasswordFrm.oldPassword.$invalid && changePasswordFrm.$submitted}">
                    <label>Old Password
                        <span class="warning-text">*</span>
                    </label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" data-ng-model="user.oldPassword"
                        name="oldPassword" required>
                    <p ng-show="changePasswordFrm.oldPassword.$error.required && changePasswordFrm.$submitted" class="help-block">Old Password is required.</p>
                </div>

                <div ng-class="{'form-group':true,'has-error':changePasswordFrm.password.$invalid && changePasswordFrm.$submitted}">
                    <label>Password
                        <span class="warning-text">*</span>
                    </label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="user.newPassword" name="password"
                        ng-minlength="8" ng-maxlength="20" required>
                    <p ng-show="changePasswordFrm.password.$error.required && changePasswordFrm.$submitted" class="help-block">New Password is required.</p>
                    <p ng-show="!changePasswordFrm.password.$error.required && (changePasswordFrm.password.$error.minlength || changePasswordFrm.password.$error.maxlength) && changePasswordFrm.$submitted"
                        class="help-block">Passwords must be between 8 and 20 characters.</p>
                </div>

                <div ng-class="{'form-group':true,'has-error': (changePasswordFrm.confirmPass.$error.required || changePasswordFrm.confirmPass.$error.noMatch) && changePasswordFrm.$submitted}">
                    <label>Repeat Password
                        <span class="warning-text">*</span>
                    </label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat Password" data-ng-model="user.confirmNewPassword"
                        name="confirmPass" required>
                    <p ng-show="changePasswordFrm.confirmPass.$error.required && changePasswordFrm.$submitted" class="help-block">Confirm your new password.</p>
                    <p ng-show="!changePasswordFrm.confirmPass.$error.required && changePasswordFrm.confirmPass.$error.noMatch && changePasswordFrm.password.$dirty && changePasswordFrm.$submitted"
                        class="help-block">Passwords do not match.</p>
                </div>

                <button class="btn btn-md btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>