<div class="forms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-box">
                    <p>
                        <img src="img/logo.PNG" class="logo">
                    </p>
                    <form name="loginForm" ng-submit="login()" class="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-6">

                                    <div class="form__wrapper">

                                        <input type="email" required class="form__input" id="Email" name="Email" data-ng-model="loginData.emailId">

                                        <label class="form__label" for="Email">
                                            <span class="form__label-content">Email</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <input type="submit" value="Login" class="form-button" id="contact_form_submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>