<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <div class="panel panel-default">
            <div class="panel-body">

                <form name="editProfileForm" ng-submit="editProfile()" novalidate>

                    <!--First Name-->
                    <div ng-class="{'form-group':true,'has-error':editProfileForm.FirstName.$invalid && editProfileForm.$submitted}">
                        <label>First Name <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" ng-change="" name="FirstName" placeholder="First Name" data-ng-model="user.firstName" ng-pattern="/^[a-zA-Z ]*$/"
                               required no-special-char autofocus>
                        <p ng-show="editProfileForm.FirstName.$error.required && editProfileForm.$submitted" class="help-block">First name is required.</p>
                        <p ng-show="editProfileForm.FirstName.$error.pattern && editProfileForm.$submitted" class="help-block">Only Alphabets Are Allowed</p>
                    </div>
                    <!--Last Name-->
                    <div ng-class="{'form-group':true,'has-error':editProfileForm.LastName.$invalid && editProfileForm.$submitted}">
                        <label>Last Name <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" name="LastName" placeholder="Last Name" data-ng-model="user.lastName" ng-pattern="/^[a-zA-Z ]*$/"
                               required no-special-char autofocus>
                        <p ng-show="editProfileForm.LastName.$error.required && editProfileForm.$submitted" class="help-block">Last name is required.</p>
                        <p ng-show="editProfileForm.LastName.$error.pattern && editProfileForm.$submitted" class="help-block">Only Alphabets Are Allowed</p>
                    </div>

                    <!--Email-->
                    <!--<div ng-class="{'form-group':true,'has-error':(editProfileForm.email.$invalid || editProfileForm.email.$error.emailExists) && editProfileForm.$submitted }">
                        <label>Email <span class="warning-text">*</span></label>
                        <input type="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                               class="form-control" maxlength="100" name="email" placeholder="Email" data-ng-model="user.email"
                               required>
                        <p ng-show="editProfileForm.email.$error.required && editProfileForm.$submitted" class="help-block">Email is required.</p>
                        <p ng-show="editProfileForm.email.$error.pattern && editProfileForm.$submitted" class="help-block">Email is not valid.</p>
                        <p ng-show="editProfileForm.email.$error.emailExists && editProfileForm.$submitted" class="help-block">Account exists with this email id, use new one.</p>
                    </div>-->

                    <!--Contact Number-->
                    <div ng-class="{'form-group':true,'has-error':editProfileForm.Phonenumber.$invalid && editProfileForm.$submitted}">
                        <label>Contact number <span class="warning-text">*</span></label>
                        <input maxlength="50" type="text" class="form-control" name="Phonenumber" placeholder="Contact number" data-ng-model="user.contactNo" ng-pattern="/^[0-9]{1,10}$/"
                               required no-special-char autofocus>
                        <p ng-show="editProfileForm.Phonenumber.$error.required && editProfileForm.$submitted" class="help-block">Contact number is required.</p>
                        <p ng-show="editProfileForm.Phonenumber.$error.pattern && editProfileForm.$submitted" class="help-block">Contact number is not valid.</p>
                    </div>
                    
                    <button class="btn btn-md btn-info btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>