<div class="forms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-box">
                    <p>
                        <img src="img/logo.PNG" class="logo">
                    </p>
                    <form>
                        <p>
                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki" type="text" id="input-1" />
                                <label class="input__label input__label--haruki" for="input-1">
                                    <span class="input__label-content input__label-content--haruki">Full Name</span>
                                </label>
                            </span>
                        </p>
                        <p>
                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki" type="text" id="input-1" />
                                <label class="input__label input__label--haruki" for="input-1">
                                    <span class="input__label-content input__label-content--haruki">Email Id</span>
                                </label>
                            </span>
                        </p>

                        <p>
                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki" type="text" id="input-1" />
                                <label class="input__label input__label--haruki" for="input-1">
                                    <span class="input__label-content input__label-content--haruki">Mobile Number</span>
                                </label>
                            </span>
                        </p>

                        <p>
                            <span class="input input--haruki">
                                <input class="input__field input__field--haruki" type="text" id="input-1" />
                                <label class="input__label input__label--haruki" for="input-1">
                                    <span class="input__label-content input__label-content--haruki">Address</span>
                                </label>
                            </span>
                        </p>
                        <p>
                            <select>
                                <option>sasasas</option>

                                <option>sasasas</option>
                                <option>sasasas</option>
                            </select>

                        </p>
                        <p>
                            <input type="checkbox">
                            <div class="terms">I Accept The Terms and Conditions</div>
                        </p>
                        <p>
                            <div class="form-button">
                                <a href="">Submit</a>
                            </div>
                        </p>
                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>