<div class="col-md-4">
    <div class="car-detail">
        <div class="car-image">
            <img ng-src="{{vehicle.imageUrl}}" class="img-responsive">
            <div class="like-icon">
                <a href="">like</a>
            </div>
        </div>
        <h3> {{vehicle.vehicle_name}}</h3>
        <p>
        </p>
        <ul>
            <li>
                <i class="fa fa-sort-numeric-asc"></i>1565555</li>
            <li>
                <i class="fa fa-calendar"></i> {{vehicle.manufacturing_year}} </li>
            <li>
                <i class="fa fa-tint"></i> {{vehicle.fuel_type}} </li>
            <li>
                <i class="fa fa-tachometer"></i>{{vehicle.distance_travelled}}km</li>
            <li>
                <i class="fa fa-file-text"></i>{{vehicle.rc_status}}</li>
            <li>
                <i class="fa fa-map-marker"></i>{{vehicle.location}}</li>
            <li>
                <i class="fa fa-steam"></i> {{vehicle.transmission_type}}</li>
            <li>
                <i class="fa fa-hourglass-half"></i> 5hr 25 min</li>
        </ul>
        <p></p>
        <p> Highest bid :
            <span> 300000 </span>
        </p>
        <p>My last bid :
            <span> 500000</span>
        </p>
        <p>
            <label> - </label>
            <input type="text" class="text-field">
            <label> + </label>
            <input type="submit" value="Bid" class="form-button">
        </p>
    </div>
</div>