<div class="col-md-4">
    <div class="car-detail">
        <div class="car-image">
            <img src="img/car.jpg" class="img-responsive">
            <div class="like-icon">
                <a href="">like</a>
            </div>
        </div>
        <h3> Hyundai Grand i10 Asta 1.2 Kappa VTVT [2013-2016]</h3>
        <p>
        </p>
        <ul>
            <li>
                <i class="fa fa-sort-numeric-asc"></i>1565555</li>
            <li>
                <i class="fa fa-calendar"></i> 2016 </li>
            <li>
                <i class="fa fa-tint"></i> Petrol </li>
            <li>
                <i class="fa fa-tachometer"></i> 5283283km</li>
            <li>
                <i class="fa fa-file-text"></i> Rc Original</li>
            <li>
                <i class="fa fa-map-marker"></i> New Delhi</li>
            <li>
                <i class="fa fa-steam"></i> Automatic</li>
            <li>
                <i class="fa fa-hourglass-half"></i> 5hr 25 min</li>
        </ul>
        <p></p>
        <p> Highest bid :
            <span> 300000 </span>
        </p>
        <p>My last bid :
            <span> 500000</span>
        </p>
        <p>
            <label> - </label>
            <input type="text" class="text-field">
            <label> + </label>
            <input type="submit" value="Bid" class="form-button">
        </p>
    </div>
</div>