<div class="modal-header">
    <h1 style="font-size:20px;" class="modal-title">Comission Slab</h1>
</div>
<div class="modal-body">
    <div class="comission-slab">
        <table>
            <thead>
                <th>
                    Vehicle Value
                </th>
                <th>
                    Total Comission
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        10K-1L
                    </td>
                    <td>
                        11K
                    </td>
                </tr>
                <tr>
                    <td>
                        1L-3L
                    </td>
                    <td>
                        15K
                    </td>
                </tr>
                <tr>
                    <td>
                        3L-6L
                    </td>
                    <td>
                        21K
                    </td>
                </tr>
                <tr>
                    <td>
                        6L-10L
                    </td>
                    <td>
                        35K
                    </td>
                </tr>
                <tr>
                    <td>
                        10L-20L
                    </td>
                    <td>
                        50K
                    </td>
                </tr>
                <tr>
                    <td>
                        20L & Above
                    </td>
                    <td>
                        70K
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="comission-notes">
        <p>
            Here: 1K=1000 and 1L=100000
        </p>

        <p>
            You have to pay additional amount as per above mentioned slabs
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="submitBid()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>