<div class="smlDevice">
    <a href="#" class="burgerMenu">
        <i class="fa fa-bars"></i>
    </a>
    <div class="col-lg-3 col-md-3 col-sm-4" id="SmlMenu" style="display:none;">
        <div class="leff_main_box">
            <div class="logo_box">
                <a href="#">
                    <img src="img/logo.PNG" class="img-responsive">
                </a>
            </div>
            <ul>
                <li>
                    <a ui-sref="dealerDashboard">Home</a>
                </li>
                <li>
                    <a ui-sref="dealerBidList">Your Bids</a>
                </li>
                <li>
                    <a u-serf="dealerWatchList">Watchlist</a>
                </li>
                <li>
                    <a href="">Your Wins</a>
                </li>
                <li>
                    <a ui-sref="dealerNotification">Activity Logs</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
    <div class="leff_main_box">
        <div class="logo_box">
            <a ui-sref="sellerDashboard">
                <img src="img/logo.PNG" class="img-responsive">
            </a>
        </div>
        <ul>
            <li>
                <a ui-sref="dealerDashboard">Home</a>
            </li>
            <li>
                <a ui-sref="dealerBidList">Your Bids</a>
            </li>
            <li>
                <a ui-sref="dealerWatchList">Watchlist</a>
            </li>
            <li>
                <a href="">Your Wins</a>
            </li>
            <li>
                <a ui-sref="dealerNotification">Activity Logs</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>